.light-font {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.postShorten-thumbnailimg img {
    max-height: 400px;
}

.clearfix {
    clear: both;
}

.fb-share-button {
    position: relative;
    top: -30px;
}

.display-card {
    -webkit-box-shadow: 1px 1px 9px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 9px -3px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 9px -3px rgba(0,0,0,0.75);
    background: #f2f2f2;
    padding: 20px;
    margin: 15px;
}

.category-title {
    margin: 0 auto;
    max-width: 750px;
    font-size: 3em;
    font-weight: 100;
    border-bottom: solid 1px #ccc;
}

.category-subtitle {
    font-size: 0.65em;
    margin-left: 40px;
}

.experience-card .dates {
    font-size: 0.55em;
    margin-left: 10px;
    opacity: 0.75;
}

.experience-card .description{
    font-weight: 100;
}

.experience-card {
    float: left;
    width: 300px;
    height: 200px;
}

.skills span {

    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    background: #8185b9;
    color: white;
    padding: 3px 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    min-width: 50px;
    text-align: center;
}

/* Image gallery */
#photo-gallery .image-cell img {
    display: inline-block;
    width: 230px;
    height: 230px;
    margin-right: 10px;
    object-fit: cover;
}